server:
  port: ${PORT:8080}

spring:
  datasource:
    url: jdbc:h2:mem:retail;DB_CLOSE_DELAY=-1
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
